<div class="container">
  <h3>送信が完了しました</h3>
  <div>内容は以下の通りです。</div>
    <div>
      [タイトル]
      <p class="font-weight-bold"> <%= @title %></p>
    </div>
    <div>
      [本文]
      <p class="font-weight-bold"> <%= safe_join(@content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>